<div id="footer">
    <div id="myfooter" class="container-fluid text-center">
        <p>&copy; @DateTime.Now.Year - My ASP.NET <abbr title="Model, View, Controler">MVC</abbr> Application</p>
    </div>
</div>
